@model Article

@{
    ViewData["Title"] = "Blog Detay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="breadcrumb-area d-flex align-items-center"
         style="
    background-image: url(@Model.MainCoverImageUrl);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 555px;
    position: relative;
    ">


    <div style="
        position:absolute;
        inset:0;
        background: rgba(0,0,0,0.5);
        z-index:1;">
    </div>

</section>



<section class="inner-blog b-details-p pt-120 pb-120">
    <div class="container">


        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-12 col-lg-12">
                    <div class="breadcrumb-wrap text-left">
                        <div class="breadcrumb-title">
                            <div class="breadcrumb-wrap">
                              
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/Blog/Index/">Blog Listesi</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">@Model.Category.CategoryName</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                        
            </div>
        </div>


        <div class="row">
        
            <div class="col-lg-8">
              
                <div class="blog-details-wrap">
                       
                    <div class="details__content pb-30">
                        <h2>
                            @Model.Title
                        </h2>
                        <div class="meta-info">
                            <ul>
                                <li>
                                    <i class="fal fa-eye"></i> @Model.ViewCount Görüntülenme
                                </li>
                                <li><i class="fal fa-calendar-alt"></i> @Model.CreatedDate.ToString("dd-MMM-yyyy")</li>
                            </ul>
                        </div>
                        <p>@Model.Content</p>
 
                        <div class="details__content-img">
                            <img src="@Model.CoverImageUrl" alt="">
                        </div>

    
                        <div class="meta-info">
                            <ul>
                                <li> @Model.Category.CategoryName </li>
                                <li><i class="fal fa-user"></i> @Model.AppUser.Name @Model.AppUser.Surname</li>
                                <li><i class="fal fa-comments"></i> @Model.Comments.Count()</li>
                            </ul>
                        </div>
    
                        <div class="row">
                            <div class="col-xl-12 col-md-12">
                                <div class="post__tag">
                                    <h5>Releted Tags</h5>
                                    <ul>
                                        <li><a href="#">organic</a></li>
                                        <li><a href="#">Foods</a></li>
                                        <li><a href="#">tasty</a></li>
                                    </ul>
                                </div>
                            </div>
                                        
                        </div>
                    </div>
                    @await Component.InvokeAsync("_UIBlogDetailNextEndPrevPostComponent", new { id = Model.ArticleId })
                    @await Component.InvokeAsync("_UIBlogDetailAuthorAboutComponent")
                   
                    <div class="comment__wrap pb-45">
                        <div class="comment__wrap-title">
                            <h5>Yorumlar</h5>
                           
                        </div>

                        @if (Model.Comments != null && Model.Comments.Any())
                        {
                            foreach (var item in Model.Comments)
                            {
                               
                                <div class="single__comment mb-35">
                                    <div class="comments-avatar">
                                        <img src="img/blog/comment/c_01.png" alt="">
                                    </div>
                                    <div class="comment-text">
                                        <div class="avatar-name mb-15">
                                            <h6>@item.AppUser.Name @item.AppUser.Surname</h6>
                                            <span>@item.CommentDate.ToString("dd MMM yyyy")</span>
                                        </div>
                                        <p>@item.CommentDetail</p>
                                        <a href="#" class="comment-reply mt-15">
                                            <i class="fas fa-reply"></i> Yanıtla
                                        </a>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <p class="text-muted">Henüz yorum yapılmamış.</p>
                        }

                    </div>
                    
                    @await Html.PartialAsync("/Views/Blog/AddComment.cshtml", new Comment { ArticleId = Model.ArticleId })

                </div>
            </div>
             
            
            <div class="col-sm-12 col-md-12 col-lg-4">
                <aside class="sidebar-widget">

                    @await Html.PartialAsync("~/Views/Blog/GetBlog.cshtml")
                 
                    @await Component.InvokeAsync("_UIBlogMediaComponent")
                    @await Component.InvokeAsync("_UIBlogCategoryComponent")
                 
                    @await Component.InvokeAsync("_UIBlogRecentPostComponent")
                    @await Component.InvokeAsync("_UIBlogTagComponent")
                   
                   
                </aside>
            </div>
    
        </div>
    </div>
</section>

@await Html.PartialAsync("~/Views/Home/SubscribeEmail.cshtml")