@model List<Service>
@*
    _UIHomeServiceComponent
*@

<style>
    .service-card {
        border-radius: 16px;
        overflow: hidden;
        position: relative;
    }

    .service-img {
        position: relative;
        height: 260px; 
        overflow: hidden;
        background-color: #1f2740; 
    }

        .service-img img {
            width: 100%;
            height: 100%;
            object-fit: cover; 
            transition: 0.4s;
        }

        .service-img .overlay {
            position: absolute;
            inset: 0;
            background: linear-gradient(to top, rgba(0,0,0,0.7), transparent);
        }


    .service-content {
        position: absolute;
        bottom: 20px;
        left: 20px;
        right: 20px;
        color: white;
        z-index: 2;
    }

        .service-content h5 {
            font-weight: 600;
            margin-bottom: 5px;
        }

        .service-content p {
            font-size: 14px;
            opacity: 0.9;
            margin-bottom: 10px;
        }

        .service-content i {
            font-size: 22px;
            color: #4dabf7;
        }


    .service-card:hover img {
        transform: scale(1.1);
    }
    .service-content h5 {
    color: #fff;
     text-shadow: 0 2px 6px rgba(0,0,0,0.6);
}
</style>


<section id="services" class="pt-120 pb-100" style="background-color: #28314b;">
    <div class="container">


        <div class="text-center mb-5">
            <h2 class="fw-bold text-white">
                Sigorta Çözümlerimizi Keşfedin
            </h2>
        </div>

        <div class="row g-4">

            @foreach (var item in Model)
            {
                <div class="col-lg-3 col-md-6">

                    <div class="service-card">

                        <div class="service-img">
                            <img src="@item.ImageUrl" alt="@item.Title">
                            
                            <div class="overlay"></div>

                            <div class="service-content">
                                <h5>@item.Title</h5>
                                <p>@item.Description</p>
                                <i class="@item.IconUrl"></i>
                            </div>
                        </div>

                    </div>

                </div>
            }

        </div>


      <div class="col-md-12 text-center"> 
          <div class="text-bg" data-aos="fade-up" data-aos-duration="1000">
              <h2> Ayrıcalıklarımız</h2>
              </div>
              </div>
    </div>
</section>